html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game{
  text-align: center;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  overflow: clip;
}

.maze{
  border: 3px solid black;
  border-color: black;
}

.maze td {
  padding: .5cm;
  margin: 0cm;
  /*border: 0cm;*/
  outline: none;
  border-collapse: collapse;
}

.blocked{
  /*background-color: black;*/
  border: 2px black solid;
}
.start{
  background-color: rgb(128, 255, 128);
}
.end{
  background-color: rgb(255, 0, 0);
}
.visited{
  background-color: rgb(116, 116, 255);
}
.path{
  background-color: rgb(128, 255, 128);
}



.slidercontainer {
  width: inherit; /* Width of the outside container */
  padding: 10px;
  text-align: center;
}
.slidercontainer label{
  text-align: right;
  display: inline-block;
  width: 20%;
  margin-right: 10px;
}
.slidercontainer span{
  /* text-align: left; */
  /* display: inline-block; */
  width: 18%;
  margin-left: 10px;
}

.slider {
  /* text-align: end; */
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover{
  opacity: 0.6;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #555555;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #555555;
  cursor: pointer;
}

.buttons .button{
  width: 100px;
  height: 30px;
  margin: 20px;
  background-color: inherit;
  border-color: gray;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  transition-duration: .2s;
}
.buttons .button:hover{
  background-color: gray;
  cursor:pointer;
}